<html>
  <head>
    <title>$i18n.getText("PageAccess.section.name")</title>
    <meta name="decorator" content="atl.admin">
    <meta name="section" content="SaveAccessSection/SaveAccessWebItem"/>
    <meta name="tab" content="SaveAccessWebItem"/>
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
  </head>
  <body>
    #parse("/templates/pageAccessTable.vm")
    
    #pagination($paginationSupport)
			<div class="pagination">
    			<ul class="pagination">
        			#set($pageStart = 1)
                	#set($pageEnd = $totalPage)
                	#set($range = [$pageStart..$pageEnd])
        						
        			## Previous Page
        			#if($totalPage>1 && $pageNumber!=1)
        				<li><a class="pageAccess" href="#" clickedPage="$!pageNumber-1">&lt;&lt; $i18n.getText("PageAccess.pagination.previous")</a></li>
        			#end
                		
        			#foreach ($i in $range)
        				#if($pageNumber == $i)
        					<li><strong class="pagination-curr">$i</strong></li>
        				#else
        					<li><a class="pageAccess" href="#" clickedPage="$!i">$i</a></li>
        				#end
        			#end
        						
        			## Next Page
        			#if($totalPage>1 && $pageNumber!=$totalPage)
        				#set($nextPage=$pageNumber+1)
        				<li><a class="spaceAttachmentsPage" href="#" clickedPage="$!nextPage">$i18n.getText("PageAccess.pagination.next") &gt;&gt</a></li>
    				#end
            	</ul>	
    		</div>
  </body>
</html>